<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="imagem/png" href="/assets/img/hcs-opcao-2.png" />
  <link rel="stylesheet" href="cadastro.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <title>Cadastro | HCS </title>
</head>
<body>
      <div class="header">
        <div class="header1">
            <img class="logoSep"src="assets/img/hcs-opcao-2.png">
        </div>

        <div class="header2">
            <div class="boxSep">
                <img src="assets/img/about.png" alt="about">
                <span>Sobre Nós</span>
            </div>
            <div class="boxSep">
                <img src="assets/img/contact.png" alt="Entre em contato">
                <span>Contato</span>
            </div>
            <div class="boxSep">
                <img src="assets/img/user.png" alt="Login">
                <span>Login</span>
            </div>
        </div>
    </div>
    <div class="background_image">
      <img src="./assets/img/cadastro-background.jpeg">
    </div>
  <div class="container">
   <div class="screen">
    <div class="content">
     <form class="cad">
     <h2>Junte-se ao nosso time!</h2>

      <div class="cad__field">
       <i class="fa-solid fa-user"></i>
       <input type="text" class="cad_input" placeholder="Nome da Empresa" pattern="required">
      </div>

      <div class="cad__field">
      <i class="fa-solid fa-lock"></i>
       <input type="number" class="cad_input" placeholder="CNPJ" pattern="required" maxlength="18">
      </div>

      <div class="cad__field">
        <i class="fa-solid fa-lock"></i>
         <input type="text" class="cad_input" placeholder="Nome do Representante" pattern="required">
        </div>

        <div class="cad__field">
          <i class="fa-solid fa-lock"></i>
           <input type="password" class="cad_input" placeholder="Escolha uma senha" pattern="required">
          </div>

      <span class="texto_botao">Cadastrar-se</span>    
    </form>
    </div>
   </div>
  </div>

</body>
</html>