<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="assets/img/hcs.ico" type="image/x-icon" rel="icon" />
    <title>HCS - Hardware Controll System</title>
</head>

<body>
    <div class="header">
        <div class="header1">
            <img src="assets/img/hcs2.png">
        </div>

        <div class="header2">
            <a href="sobre.html">
                <div class="boxSep">
                    <img src="assets/img/about.png" alt="Sobre Nós">
                    <span>Sobre Nós</span>
                </div>
            </a>
            <a href="contato.html">
                <div class="boxSep">
                    <img src="assets/img/contact.png" alt="Entre em contato">
                    <span>Entre em contato</span>
                </div>
            </a>
            <a href="login.html">
            <div class="boxSep">
                <img src="assets/img/user.png" alt="login">
                <span>Login</span>
            </div>
            </a>
        </div>
    </div>

    <div class="banner bI">
        <span class="subir">As tecnologias evoluiram.</span>
        <span class="subir">O seu veículo também</span>
        <img class="subir" src="assets/img/car.png" alt="Carro">
    </div>

    <div class="banner bII" id="bannerVideo">
        <div class="overlayText reveal playVideo">
            <span>Venha conosco</span>
            <span>para o futuro.</span>
        </div>
        <video muted autoplay loop id="carLightVideo">
            <source src="assets/video/carDataAnalysis_AdobeExpress.mp4" type="video/mp4">
        </video>
    </div>

    <div class="banner bIII">
        <div class="reveal">
            <span>Participe da revolução</span><br>
            <span>do mundo automobilístico</span>
            <div class="father">
                <div class="son son1">
                    <span class="title">Maior eficiência</span><br>
                    <img src="assets/img/eficienciaBranco.png" alt="">
                    <div class="neoList">
                        <span>- Aproveite o hardware</span><br>
                        <span>- Sistema de Análise de Dados</span><br>
                        <span>- Usuário Sempre Atualizado</span><br>
                    </div>
                </div>
                <div class="son son2">
                    <span class="title">Mais segurança</span><br>
                    <img src="assets/img/segurancaBranco.png" alt="">
                    <div class="neoList">
                        <span>- Identificação de Problemas</span><br>
                        <span>- Proteja seus Clientes</span><br>
                        <span>- Equipe Especializada</span><br>
                    </div>
                </div>
                <div class="son son3">
                    <span class="title">Menos custos</span><br>
                    <img src="assets/img/economiaBranco.png" alt="">
                    <div class="neoList">
                        <span>- Evite Acidentes</span><br>
                        <span>- Evite Recalls</span><br>
                        <span>- Melhoras em Futuras Versões</span><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner bIV">
        <span class="reveal">Descubra mais</span>
        <button class="reveal" onclick="location.href='sobre.html'">SOBRE NÓS</button>
    </div>

    <footer>
        <div class="header">
            <div class="header1">
                <img src="assets/img/hcs2.png">
            </div>

            <div class="header2">
                <div class="boxSep" style="border-left: none"
                    onclick="window.open('https://goo.gl/maps/dcLF4wGawkfSMc3i6')">
                    <img src="assets/img/maps.png" alt="login">
                    <span>Endereço</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('tel:975372788')">
                    <img src="assets/img/telephone.png" alt="login">
                    <span>Telefone</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('mailto:teste@sptech.school')">
                    <img src="assets/img/mail.png" alt="Entre em contato">
                    <span>E-mail</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('https://www.sptech.school')">
                    <img src="assets/img/sptech.png" alt="SP Tech">
                    <span>Apoio Institucional</span>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
<script src="js/indexLoad.js"></script>
