<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="imagem/png" href="assets/img/hcs.ico"/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/login.css">
  <title>HCS - Login</title>
</head>

<body>
  <div class="header">
    <a href="index.html">
      <div class="header1">
          <img src="assets/img/hcs.png">
      </div>
  </a>

  </div>

  <div class="paiScreen">
    <div class="screen subir">
      <div class="content">
        <h2>Login</h2>
        <div class="cad__field">
          <span class="title">Entrar como</span>
          <select id="modo" onchange="verificaModo(this.value)">
            <option value="error">Escolha</option>
            <option value="0">Proprietário de um Veículo</option>
            <option value="1">Analista de Dados</option>
          </select>
        </div>

        <div class="cad__field" id="fieldFabricante" style="display: none;">
          <span class="title">Fabricante do veículo</span>
          <select id="fabricante" onchange="verificaFabricante(this.value)">
            <option value="error">Escolher</option>
            <option value="0">Tesla</option>
            <option value="1">Volkswagen</option>
            <option value="2">Hyundai</option>
            <option value="3">Honda</option>
          </select>
        </div>

        <div class="cad__field" id="fieldModeloTesla" style="display: none;">
          <span class="title">Modelo</span>
          <select onchange="verificaModelo(this.value)">
            <option value="error">Modelo</option>
            <option value="0">Model S</option>
            <option value="1">Model 3</option>
            <option value="2">Model X</option>
            <option value="3">Model Y</option>
          </select>
        </div>

        <div class="cad__field" id="fieldModeloVolkswagen" style="display: none;">
          <span class="title">Modelo</span>
          <select onchange="verificaModelo(this.value)">
            <option value="error">Modelo</option>
            <option value="0">Iconic Microbus</option>
            <option value="2">ID.3</option>
            <option value="1">ID.4</option>
          </select>
        </div>

        <div class="cad__field" id="fieldModeloHyundai" style="display: none;">
          <span class="title">Modelo</span>
          <select onchange="verificaModelo(this.value)">
            <option value="error">Modelo</option>
            <option value="0">Ioniq 5</option>
          </select>
        </div>

        <div class="cad__field" id="fieldModeloHonda" style="display: none;">
          <span class="title">Modelo</span>
          <select onchange="verificaModelo(this.value)">
            <option value="error">Modelo</option>
            <option value="0">Prologue</option>
          </select>
        </div>

        <div class="cad__field" id="fieldTkVeiculo" style="display: none;">
          <input type="text" class="cad_input" placeholder="Token do Veículo">
        </div>

        <div class="cad__field" id="fieldTkAcesso" style="display: none;">
          <input type="text" class="cad_input" placeholder="Token de Acesso">
        </div>

        <div class="paiEntrar" onclick="login()">
          <span class="texto_botao">Entrar</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script src="js/login.js"></script>