<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/sobre.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="assets/img/hcs.ico" type="image/x-icon" rel="icon" />
    <title>HCS - Sobre</title>
</head>

<body>
    <div class="header">
        <a href="index.html">
            <div class="header1">
                <img src="assets/img/hcs2.png">
            </div>
        </a>

        <div class="header2">
            <a href="sobre.html">
                <div class="boxSep">
                    <img src="assets/img/about.png" alt="Sobre Nós">
                    <span>Sobre Nós</span>
                </div>
            </a>
            <a href="contato.html">
                <div class="boxSep">
                    <img src="assets/img/contact.png" alt="Entre em contato">
                    <span>Entre em contato</span>
                </div>
            </a>
            <a href="login.html">
                <div class="boxSep">
                    <img src="assets/img/user.png" alt="login">
                    <span>Login</span>
                </div>
            </a>
        </div>
    </div>

    <div class="banner bI">
        <span class="subir">A HCS Monitora todo o</span>
        <span class="subir">funcionamento do hardware </span>
        <span class="subir">do seu veículo para sua segurança</span>
        <img src"" alt="">
    </div>

    <div class="banner bII">
        <div class="reveal" >
            Trabalhamos em conjunto com as<br>maiores montadoras de veículos autônomos
        </div>
        <!-- <img src="../assets/img/circuitoescuro.jpg" alt="Circuito Preto"> -->

    </div>

    <div class="bIIIIII">
        <div class="reveal">
            <span>Carros suportados</span><br>
            <div class="fatherSobre">
                <div class="neoList">
                    <img src="assets/img/Tesla.png" class="imgTesla">

                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="banner bIV">
        <span class="reveal">Entre em Contato</span>
        <button class="reveal" onclick="location.href='contato.html'">CONTATO</button>
    </div>

    <footer>
        <div class="header">
            <a href="index.html">
                <div class="header1">
                    <img src="assets/img/hcs2.png">
                </div>
            </a>

            <div class="header2">
                <div class="boxSep" style="border-left: none"
                    onclick="window.open('https://goo.gl/maps/dcLF4wGawkfSMc3i6')">
                    <img src="assets/img/maps.png" alt="login">
                    <span>Endereço</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('tel:975372788')">
                    <img src="assets/img/telephone.png" alt="login">
                    <span>Telefone</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('mailto:teste@sptech.school')">
                    <img src="assets/img/mail.png" alt="Entre em contato">
                    <span>E-mail</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('https://www.sptech.school')">
                    <img src="assets/img/sptech.png" alt="SP Tech">
                    <span>Apoio Institucional</span>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
<script src="js/indexLoad.js"></script>