<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sobre.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="../assets/img/hcs.ico" type="image/x-icon" rel="icon"/>
    <title>HCS - Sobre</title>
</head>
<body>
    <div class="header">
        <div class="header1" style="cursor: pointer">
            <img src="../assets/img/hcs.png" onclick="window.location='../'">
        </div>

        <div class="header2">
            <div class="boxSep">
                <img src="../assets/img/about.png" alt="Sobre Nós">
                <span>Sobre Nós</span>
            </div>
            <div class="boxSep" onclick="window.location='../contato'">
                <img src="../assets/img/contact.png" alt="Entre em contato">
                <span>Entre em contato</span>
            </div>
            <div class="boxSep" onclick="window.location='../login'">
                <img src="../assets/img/user.png" alt="login">
                <span>Login</span>
            </div>
        </div>
    </div>

    <div class="banner bI">
        <span>A HCS Monitora todo o</span>
        <span>funcionamento do hardware </span>
        <span>do seu carro, para sua segurança</span>
        <img src"" alt="">
    </div>

    <div class="banner bII">
        <div class="reveals">
            E trabalha em conjunto com as maiores e melhores montadoras de carros autonomos que existem
        </div>
        <!-- <img src="../assets/img/circuitoescuro.jpg" alt="Circuito Preto"> -->
        
    </div>

    <div class="banner bIII">
        <div class="reveals">
            <span>Carros suportados</span><br>
            <div class="father">
                    <div class="neoList">
                        <img src="../assets/img/Tesla.png" alt="" style="width: 79vw;">

                    </div>  
                </div>
            </div>
        </div>
    </div>

    <div class="banner bIV">
        <span class="reveals">Entre em Contato</span>
        <button class="reveals" onclick="location.href='../contato'">CONTATO</button>
    </div>

    <footer>
        <div class="header">
            <div class="header1">
                <img src="../assets/img/hcs.png">
            </div>
    
            <div class="header2">
                <div class="boxSep" style="border-left: none" onclick="window.open('https://goo.gl/maps/dcLF4wGawkfSMc3i6')">
                    <img src="../assets/img/maps.png" alt="login">
                    <span>Endereço</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('tel:975372788')">
                    <img src="../assets/img/telephone.png" alt="login">
                    <span>Telefone</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('mailto:teste@sptech.school')">
                    <img src="../assets/img/mail.png" alt="Entre em contato">
                    <span>E-mail</span>
                </div>
                <div class="boxSep" style="border-left: none" onclick="window.open('https://www.sptech.school')">
                    <img src="../assets/img/sptech.png" alt="SP Tech">
                    <span>Apoio Institucional</span>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
<script src="js/index.js"></script>