:root {
    --back1: #232631;
    --back2: #302F47;
    --back3: #2F3B47;
    --empha1: #fff;
    --empha2: #f6f6f6;
    --empha3: #d4d4d4;
    --deta1: #3748F2;
    --deta2: #4927DB;
    --deta3: #2766DB;
    --shadow1: 0px 0px 20px 0px #2F3B47;
}

body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}