<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="imagem/png" href="assets/img/hcs.ico"/>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/login.css">
  <title>HCS - Login</title>
</head>

<body>
  <div class="header">
    <a href="index.html">
      <div class="header1">
          <img src="assets/img/hcs2.png">
      </div>
  </a>
  </div>

  <div class="paiScreen">
    <div class="screen subir">
      <div class="content">
        <h2>Login</h2>

        <div class="cad__field" style="display: flex;">
          <input type="text" class="cad_input" placeholder="Email" id="ipt_email">
        </div>

        <div class="cad__field" style="display: flex;">
          <input type="password" class="cad_input" placeholder="Senha" id="ipt_senha">
        </div>

        <div class="paiEntrar" onclick="entrar()">
          <span class="texto_botao">Entrar</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script src="js/login.js"></script>