@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    font-family: 'Poppins';
    margin:0;
    background-image: url(../assets/img/cadastro-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position:center;
    overflow-x: hidden;
    overflow-y:hidden;
}


/* Barra de navegação */
.header{
position: sticky;
width: 100% auto;
height: 75px;
background-color: #fff;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.header1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header img{
    height: 7vh;
}

.header .logoSep .textColumn::after{
    content: "\a";
    white-space: pre;
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    opacity: 0.5;
}

.header2 .boxSep{
    /* border-left: #ccc 1px solid; */
    width: 146px;
    height: 86px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
}

.header2 .boxSep:hover{
    opacity: 0.5;
    
}

.header2 .boxSep img{
    max-width: 42px;
    max-height: 42px;
}

.header2 .boxSep span{
    padding: 4px;
}

.txtHeader{
    font-size: 15px;
}

/* Fim da barra de navegação */

.screen {  
height: 520px;
width: 360px;
background: rgba( 255, 255, 255, 0.15 );
backdrop-filter: blur( 14.5px );
-webkit-backdrop-filter: blur( 14.5px );
padding: 0;
color:rgb(0, 0, 0);
display: flex;
align-items:flex-start;
justify-content: center;
float: right;
padding: 0;
/* border: 0.5px solid rgba( 255, 255, 255, 0.18 ); */
}

/* .screen__background {  
top: 0;
left: 0;
right: 0;
bottom: 0;
clip-path: inset(0 0 0 0);
} */

.cad {
width: 320px;
padding-left: 20px;
padding-top: 10px;
height: 300px;
}

.cad__field {
padding: 20px 0px;
}

.cad_input {
border: none;
border-bottom: 1px solid #000000;
background: none;
padding: 10px;
padding-left: 24px;
width: 75%;
}

.cad_input1{
border: none;
border-bottom: 1px solid #000000;
background: none;
padding: 10px;
padding-left: 24px;
width: 75%;
}

.cad_input::placeholder{
    color: black
}


/* apagar o contorno da caixa de texto */
textarea:focus, input:focus {
box-shadow: 0 0 0 0;
outline: 0;
}

/* Botão */
.texto_botao {
font-size: 17px;
margin-top: 8px;
padding: 16px 20px;
text-transform: uppercase;
font-weight: bold;
display: flex;
cursor: pointer;
width: 100%;
justify-content: center;
align-items: center;
font-family: 'Poppins';
appearance: none;
}

/* Deixar o botão com transição */
.texto_botao{
-webkit-transition: .2s ease-in-out;
-moz-transition: .2s ease-in-out;
-ms-transition: .2s ease-in-out;
-o-transition: .2s ease-in-out;
transition: .2s ease-in-out;
opacity: 0.5;
}
 
.texto_botao:hover{
opacity: 2;
}
/* Botão */

input{
    font-family: 'Poppins';
}