@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

body {
    background-color: var(--empha2);
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    width: 100vw;
    background-color: var(--empha2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header1,
.header2 {
    height: 4rem;
}

.header2 .boxSep {
    border-left: #ccc 1px solid;
    width: 14vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header img {
    width: 8rem;
    height: 2.6rem;
}

.boxSep img {
    width: 1.6rem;
    height: 1.6rem;
}

.boxSep span {
    display: none;
}

.header .logoSep .textColumn {
    font-weight: 600;
}

.header .logoSep .textColumn::after {
    content: "\a";
    white-space: pre;
}

.header2 .boxSep:hover {
    background-color: #f6f6f6;
    opacity: 0.5;
}

.header2 .boxSep img {
    max-width: 2.6rem;
    max-height: 2.6rem;
}

.header2 .boxSep span {
    padding: 0.1;
}

.banner {
    height: 100vh;
    text-align: center;
    white-space: pre;
    background-color: #fff;
    font-size: clamp(1rem, 2rem, 4rem);
}

.subir {
    animation-name: subindo;
    animation-duration: 2s;
}

.bI {
    background: url("../assets/img/circuitBG.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bI img {
    width: 48rem;
}

.bII {
    background-color: #000;
    color: #fff;
    white-space: normal;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.bII video {
    width: 100%;
    height: 100%;
}

.bII .overlayText {
    position: absolute;
    padding-top: 5.6rem;
}


/* toda a parte do bIII define os cards animados */
.bIII {
    height: 70rem;
    width: 100%;
    text-align: center;
    white-space: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-top: 5%;
}

.reveal {
    position: relative;
    transform: translateY(9.3rem);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.bIII .father {
    display: table;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70vw;
    padding-bottom: 2%;
    padding-left: 4%;
}

.bIII .son {
    border-radius: 2rem;
    background: #000;
    color: #fff;
    text-align: center;
    display: table;
    margin: 3.5rem 0px 0px 3.1rem;
    padding: 1.3rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.8), 0 0.3rem 1.25rem 0 rgba(0, 0, 0, 0.8);
}


.bIII .son .title {
    font-size: 1.5rem;
    white-space: pre;
}

.bIII .son .neoList {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: left;
    margin-left: 0.6rem;
}

.bIII .son img {
    max-width: 4.3rem;
    padding: 0.3rem;
}

.son1,
.son2,
.son3 {
    display: grid;
}

.bIV {
    height: 90vh;
    background: lightblue url("../assets/img/blackBackground.jpg") center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.bIV button {
    padding: 1.1rem;
    font-size: 1.25rem;
    color: #fff;
    border: 0.12rem solid #fff;
    border-radius: 1.5rem;
    background-color: transparent;
    cursor: pointer;
    margin: 3.12rem;
    text-align: center;
    align-items: center;
}

.bIV button:hover {
    background-color: #fff;
    color: #000;
}

@keyframes subindo {
    0% {
        transform: translateY(6.25rem);
    }

    100% {
        transform: translateY(0px);
    }
}



::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #44474a;
    border-radius: 0.5rem;
}



/* 500 aqui */

@media (min-width: 500px) {

    body {
        background-color: var(--empha2);
        font-family: 'Tajawal', sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        position: sticky;
        width: 100vw;
        background-color: var(--empha2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .header1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .header2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header1,
    .header2 {
        height: 4rem;
    }

    .header2 .boxSep {
        border-left: #ccc 1px solid;
        width: 14vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header img {
        width: 8rem;
        height: 2.6rem;
    }

    .boxSep img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .boxSep span {
        display: none;
    }

    .header .logoSep .textColumn {
        font-weight: 600;
    }

    .header .logoSep .textColumn::after {
        content: "\a";
        white-space: pre;
    }

    .header2 .boxSep:hover {
        background-color: #f6f6f6;
        opacity: 0.5;
    }

    .header2 .boxSep img {
        max-width: 2.6rem;
        max-height: 2.6rem;
    }

    .header2 .boxSep span {
        padding: 0.1;
    }

    .banner {
        height: 100vh;
        text-align: center;
        white-space: pre;
        background-color: #fff;
        font-size: clamp(1rem, 2rem, 4rem);
    }

    .subir {
        animation-name: subindo;
        animation-duration: 2s;
    }

    .bI {
        background: url("../assets/img/circuitBG.png");
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bI img {
        width: 48rem;
    }

    .bII {
        background-color: #000;
        color: #fff;
        white-space: normal;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .bII video {
        width: 100%;
        height: 100%;
    }

    .bII .overlayText {
        position: absolute;
        padding-top: 5.6rem;
    }



    .bIII {
        height: 70rem;
        width: 100%;
        text-align: center;
        white-space: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding-top: 5%;
    }

    .reveal {
        position: relative;
        transform: translateY(9.3rem);
        opacity: 0;
        transition: 2s all ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }

    .bIII .father {
        display: table;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70vw;
        padding-bottom: 2%;
        padding-left: 5%;
    }

    .bIII .son {
        border-radius: 2rem;
        background: #000;
        color: #fff;
        text-align: center;
        display: table;
        margin: 3.5rem 0px 0px 3.1rem;
        /*  margin: 96px 32px 32px 32px; */
        padding: 1.3rem;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.8), 0 0.3rem 1.25rem 0 rgba(0, 0, 0, 0.8);
    }


    .bIII .son .title {
        font-size: 1.9rem;
        white-space: pre;
    }

    .bIII .son .neoList {
        margin-top: 0.25rem;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: left;
        margin-left: 0.6rem;
    }

    .bIII .son img {
        max-width: 4.3rem;
        padding: 0.3rem;
    }

    .son1,
    .son2,
    .son3 {
        display: grid;
    }

    .bIV {
        height: 90vh;
        background: lightblue url("../assets/img/blackBackground.jpg") center fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }

    .bIV button {
        padding: 1.1rem;
        font-size: 1.25rem;
        color: #fff;
        border: 0.12rem solid #fff;
        border-radius: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        margin: 3.12rem;
        text-align: center;
        align-items: center;
    }

    .bIV button:hover {
        background-color: #fff;
        color: #000;
    }
}


/* 660 aqui */

@media (min-width: 660px) {

    body {
        background-color: var(--empha2);
        font-family: 'Tajawal', sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        position: sticky;
        width: 100vw;
        background-color: var(--empha2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .header1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .header2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header1,
    .header2 {
        height: 4rem;
    }

    .header2 .boxSep {
        border-left: #ccc 1px solid;
        width: 14vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header img {
        width: 8rem;
        height: 2.6rem;
    }

    .boxSep img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .boxSep span {
        display: none;
    }

    .header .logoSep .textColumn {
        font-weight: 600;
    }

    .header .logoSep .textColumn::after {
        content: "\a";
        white-space: pre;
    }

    .header2 .boxSep:hover {
        background-color: #f6f6f6;
        opacity: 0.5;
    }

    .header2 .boxSep img {
        max-width: 2.6rem;
        max-height: 2.6rem;
    }

    .header2 .boxSep span {
        padding: 0.1;
    }

    .banner {
        height: 100vh;
        text-align: center;
        white-space: pre;
        background-color: #fff;
        font-size: clamp(1rem, 2rem, 4rem);
    }

    .subir {
        animation-name: subindo;
        animation-duration: 2s;
    }

    .bI {
        background: url("../assets/img/circuitBG.png");
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bI img {
        width: 48rem;
    }

    .bII {
        background-color: #000;
        color: #fff;
        white-space: normal;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .bII video {
        width: 100%;
        height: 100%;
    }

    .bII .overlayText {
        position: absolute;
        padding-top: 5.6rem;
    }



    .bIII {
        height: 75rem;
        width: 100%;
        text-align: center;
        white-space: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding-top: 5%;
    }

    .reveal {
        position: relative;
        transform: translateY(9.3rem);
        opacity: 0;
        transition: 2s all ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }

    .bIII .father {
        display: table;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70vw;
        padding-bottom: 2%;
        padding-left: 6%;
    }

    .bIII .son {
        border-radius: 2rem;
        background: #000;
        color: #fff;
        text-align: center;
        display: table;
        margin: 3.5rem 0px 0px 3.1rem;
        /*  margin: 96px 32px 32px 32px; */
        padding: 1.3rem;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.8), 0 0.3rem 1.25rem 0 rgba(0, 0, 0, 0.8);
    }


    .bIII .son .title {
        font-size: 2.6rem;
        white-space: pre;
    }

    .bIII .son .neoList {
        margin-top: 0.25rem;
        font-size: 1.6rem;
        font-weight: 300;
        text-align: left;
        margin-left: 0.6rem;
    }

    .bIII .son img {
        max-width: 4.3rem;
        padding: 0.3rem;
    }

    .son1,
    .son2,
    .son3 {
        display: grid;
    }

    .bIV {
        height: 90vh;
        background: lightblue url("../assets/img/blackBackground.jpg") center fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }

    .bIV button {
        padding: 1.1rem;
        font-size: 1.25rem;
        color: #fff;
        border: 0.12rem solid #fff;
        border-radius: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        margin: 3.12rem;
        text-align: center;
        align-items: center;
    }

    .bIV button:hover {
        background-color: #fff;
        color: #000;
    }
}

/* 750 aqui */

@media (min-width: 750px){
    

    .bIII {
        height: 75rem;
        width: 100%;
        text-align: center;
        white-space: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding-top: 5%;
    }

    .reveal {
        position: relative;
        transform: translateY(9.3rem);
        opacity: 0;
        transition: 2s all ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }

    .bIII .father {
        display: table;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70vw;
        padding-bottom: 2%;
        padding-left: 10%;
    }

    .bIII .son {
        border-radius: 2rem;
        background: #000;
        color: #fff;
        text-align: center;
        display: table;
        margin: 3.5rem 0px 0px 3.1rem;
        /*  margin: 96px 32px 32px 32px; */
        padding: 1.3rem;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.8), 0 0.3rem 1.25rem 0 rgba(0, 0, 0, 0.8);
    }


    .bIII .son .title {
        font-size: 2.6rem;
        white-space: pre;
    }

    .bIII .son .neoList {
        margin-top: 0.25rem;
        font-size: 1.6rem;
        font-weight: 300;
        text-align: left;
        margin-left: 0.6rem;
    }

    .bIII .son img {
        max-width: 4.3rem;
        padding: 0.3rem;
    }

    .son1,
    .son2,
    .son3 {
        display: grid;
    }

}

/* 800 aqui */

@media (min-width: 860px) {
    @import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

    body {
        background-color: var(--empha2);
        font-family: 'Tajawal', sans-serif;
        margin: 0;
        padding: 0;
    }

    .header {
        position: sticky;
        width: 100%;
        height: 6rem;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.3rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    }

    .header1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }

    .header img {
        height: 6rem;
    }

    .header .logoSep .textColumn {
        font-weight: 600;
    }

    .header .logoSep .textColumn::after {
        content: "\a";
        white-space: pre;
    }

    .header2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header2 .boxSep {
        border-left: #ccc 1px solid;
        width: 8rem;
        height: 6rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .header img {
        width: 18rem;
        height: 6rem;

    }

    .boxSep img {
        width: 4rem;
    }

    .boxSep span {
        display: block;
    }


    .header2 .boxSep:hover {
        background-color: #f6f6f6;
        opacity: 0.5;
    }

    .header2 .boxSep img {
        max-width: 2.6rem;
        max-height: 2.6rem;
    }

    .header2 .boxSep span {
        padding: 0.25rem;
    }

    .banner {
        height: 100vh;
        text-align: center;
        white-space: pre;
        background-color: #fff;
        font-size: 4rem;
    }

    .subir {
        animation-name: subindo;
        animation-duration: 2s;
    }

    .bI {
        background: url("../assets/img/circuitBG.png");
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bI img {
        width: 48.7rem;
    }

    .bII {
        background-color: #000;
        color: #fff;
        white-space: normal;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .bII video {
        width: 100%;
        height: 100%;
    }

    .bII .overlayText {
        position: absolute;
        padding-top: 6rem;
    }

    .reveal {
        position: relative;
        transform: translateY(9rem);
        opacity: 0;
        transition: 2s all ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }

    .bIII {
        height: 100vh;
        width: 100vw;
        text-align: center;
        white-space: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3%;
    }

    .bIII .father {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 99vw;

        padding-left: 0%;
    }


    .bIII .son {
        border-radius: 2rem;
        background-color: #000;
        color: #fff;
        text-align: center;
        display: table;
        margin: 5rem 2rem 2rem 2rem;
        padding: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 0.3rem 1.1rem 0 rgba(0, 0, 0, 0.8);
    }

    .bIII .son .title {
        font-size: 2rem;
        white-space: pre;
    }

    .bIII .son .neoList {
        margin-top: 0.5;
        font-size: 1rem;
        font-weight: 300;
        text-align: left;
        margin-left: 1.5rem;
    }

    .bIII .son img {
        max-width: 8rem;
        padding: 0.8rem;
    }

    .son1,
    .son2,
    .son3 {
        display: grid;
    }

    .bIV {
        height: 100vh;
        background: lightblue url("../assets/img/blackBackground.jpg") center fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #fff;
    }

    .bIV button {
        padding: 1.5rem;
        font-size: 1.3rem;
        color: #fff;
        border: 1.1 solid #fff;
        border-radius: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        margin: 3rem;
    }

    .bIV button:hover {
        background-color: #fff;
        color: #000;
    }


    ::-webkit-scrollbar-track {
        background-color: #fff;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
        background: #44474a;
        border-radius: 0.5;
    }
}

/* Notebooks e Monitores */
@media (max-width:1280px) {
    body {
        background-color: rgb(0, 0, 0);
    }

}

/* Ajusta o tamanho das imagens */

/* Tablets grandes, notebooks e monitores*/
@media (max-width:1024px) {
    .bI img {
        width: 39rem;
    }

    /*   .bIII .father {
        display: table;
    } */
}


/* Tablets e iPads na horizontal. Telas pequenas de notebooks e monitores */
@media (max-width:960px) {
    .bI img {
        width: 36.6rem;
    }
}

/* Tablets, iPads e Celulares Flip */
@media (max-width:960px) {
    .bI img {
        width: 26.37rem;
    }
}

/* E-books e tablets pequenos */
@media (max-width:640px) {
    .bI img {
        width: 22.5rem;
    }

    .bIII .father {
        display: table;
    }
}

/* Celulares e dispositivos com telas pequenas */
@media (max-width:480px) {
    .bI img {
        width: 16.25rem;
    }
}